html, body {
    font-size: 16px;
    background-color: #e9ebee;
}

a:hover {
    cursor: pointer;
}

.activities {
    padding: 10px 0;
    border-top: 1px solid #000;
}

.activity-detail {
    display: block;
}

.margin-bottom {
    margin-bottom: 10px;
}

.activity-holder {
    margin-top: 10px;
}

.comment-date {
    font-size: 12px;
    color: #337ab7;
}

#my-navbar {
    background-color: #4267b2;
    color: #fff;
}

#my-navbar a {
    color: #fff;
}

/*#my-main {
    color: #fff;
}*/

#my-navbar a:hover {
    text-decoration: underline;
}

#my-main .jumbotron{
    background-color: #fff;
}

h2, h4, label {
    color: #4267b2;
}

.btn {
    background-color: #f6f7f9;
    color: #000;
}

.glyphicon {
     color: #4267b2;
}